body{
    margin:0px;
    width: 100%;
    height: 100%;
    background-color: #A2B2C3;
}

.content{
  display: flex;
  flex-direction: column;
  margin: 50px;
  padding: 10px;
  width: 95%;
  height: auto;
  align-items: center;
}

iframe{
  margin: 10px;
}

p{
font-family: 'IBM Plex Sans', sans-serif;
text-align: center;
font-weight: 400;
margin: 30px;
}

b{
  font-size: 60px;
  color: #ffe1df;
}
