#body {
width: 100%;
height: 100%;
}


* {
    box-sizing: border-box;
    margin:0;
}

body{
    margin:0px;

    /* background image for the body section*/
    background-image: url("images/bg.jpg");
}



.logo{
/* width:8.33%; */
 margin:auto;
 padding-top:30px;
}

.logo img{
  width:300px;
  display:block;
  margin:auto;
}

.menu{
  width: 35px;
  height: 5px;
  margin: 6px 0;
}
